/* your styles go here */
.sidebar {
  height: 100vh;
  width: 15vw;
}

.sidebar-footer {
  bottom: 0;
}

.sidebar.active {
  margin-left: 0;
  z-index: 99;
  width: 100vw;
  text-align: center;
}

.sidebar.active .sidebar-inner .sidebar-header{
  text-align: left;
}

.sidebar .sidebar-menu-holder {
  align-items: center;
  display: flex;
}

.sidebar.active .sidebar-menu-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  -moz-box-align: center;
  -moz-box-pack: center;
  -ms-box-align: center;
  -ms-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.page-holder.active {
  display: none;
  margin-left: 0;
  z-index: 1;
}

.sidebar-logo {
  letter-spacing: 0.1em;
  color: #120e18;
  display: none;
}

.sidebar-logo:hover {
  text-decoration: none;
}

.main-div {
  padding-top: 0;
}

@media (min-width: 992px) {
  .page-holder {
    margin-left: 15vw;
  }

  .sidebar-logo {
    display: block;
  }

  .sidebar-header .navbar-toggler {
    display: none;
  }

  .main-div {
    padding-top: 1.5rem;
  }
}

.welcome {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.welcome h1, .welcome h2 {
  font-size: 16px;
}

@media (min-width: 576px) {
  .welcome h1, .welcome h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .welcome h1, .welcome h2 {
    font-size: 2.0rem;
  }
}

@media (min-width: 992px) {
  .welcome {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .welcome h1, .welcome h2 {
    font-size: 2.5rem;
  }
}
