

@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('../fonts/futura/futura_bold_font.woff2') format('woff2'),
         url('../fonts/futura/futura_bold_font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurabook';
    src: url('../fonts/futura/futura_book_font.woff2') format('woff2'),
         url('../fonts/futura/futura_book_font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_xblk_btextra_black';
    src: url('../fonts/futura/futura_extra_black_font.woff2') format('woff2'),
         url('../fonts/futura/futura_extra_black_font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuraheavy';
    src: url('../fonts/futura/futura_heavy_font.woff2') format('woff2'),
         url('../fonts/futura/futura_heavy_font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura/futura_light_bt.woff2') format('woff2'),
         url('../fonts/futura/futura_light_bt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_ltcn_btlight';
    src: url('../fonts/futura/futura_light_font.woff2') format('woff2'),
         url('../fonts/futura/futura_light_font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futura/futura_medium_bt.woff2') format('woff2'),
         url('../fonts/futura/futura_medium_bt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_xblk_btextra_black';
    src: url('../fonts/futura/futura_xblk_bt.woff2') format('woff2'),
         url('../fonts/futura/futura_xblk_bt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}