/*----------------------------------------------------
@File: Default Styles
@Author: Md. Shahadat Hussain
@URL: https://themeforest.net/user/droitthemes
This file contains the styling for the actual tempalte, this is the file you need to edit to change the look of the tempalte.
---------------------------------------------------- */
/*=====================================================================
@Author: Md. Shahadat Hussain
@Developed By: Masud Rana
@Developer URL: https://themeforest.net/user/droitthemes
@Default Styles
/*----------------------------------------------------*/


/*Base font*/


//-----Color
$primary-color:         	#ffffff;
$brand-color:				rgba(23,24,25,0.6);
$dark:				        #1b1d22;



//-----Typography




//---- font family ----	

$pop:                      'Poppins', sans-serif;
$ftbtbold:                 'futura_bdcn_btbold';
$ftbook:                   'futurabook';
$ftxtblack:                'futura_xblk_btextra_black';
$ftheavy:                  'futuraheavy';
$ftlight:                  'futuralight';
$ftbtlight:                'futura_ltcn_btlight';
$ftmedium:                 'futuramedium';
$ftxtblack:                'futura_xblk_btextra_black'; 


//----p style----	
		
$p-font-size:				16px;
$p-line-height:				30px;
$p-font-weight:				normal;
$p-font-family:				'Poppins', sans-serif;
$p-font-color:               #555;

//----a style----	
		
$a-text-decuration:			none;
$a-color:					inherit;

//----a-hover style----	
		
$a-hover-color:				inherit;