body {
  background: black;
  overflow-x: hidden;
}

.carousel-fade .carousel-item {
 transition-duration: 2s;
}

.full-screen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
  padding: 0;
}

.menu-button {
  font-size: 1.5em;
  height: 3vh;
  right: 1vw;
  top: 1vh;
  width: 3vw;
}

 .menu-button a {
   color: #000000;
   opacity: 0.7;
 }

 .menu-button a:hover{
   cursor: pointer;
   opacity: 1.0;
 }

/* Vertical */
.social {
  bottom: 1vh;
  font-size: 1em;
  height: 25vh;
  right: 1vw;
  width: 3vw;
}

.menu-button, .social {
  position: fixed;
  right: 1vw;
  width: 3vw;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social li {
  padding-bottom: 8px;
}

.social span {
  padding-right: 0.8em;
}

.social a{
  color: #DCDCDC;
  opacity: 0.5;
}

.social a:hover{
  color: #F0F0F0;
  opacity: 0.9;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  right: 0;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  top: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.7;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}


#wrapper.toggled #menuButton,  #wrapper.toggled #socialMedia{
  margin-right: 250px;
  position: absolute;
}


/* Sidebar Styles */

.sidebar-nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  /* text-transform: uppercase; */
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  font-size: 18px;
  height: 65px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  background: none;
  color: #fff;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
