body {
  background: black;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

#background{
   margin:0;
   padding:0;
   position:absolute;
   z-index: -1;
   display: none;
   top:0;
   left:0;
   width: 100%;
   height: 200%;
   /**scalable background to fill available viewport**/
   background: url(../img/Mountain.JPG) center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#title{
  display: none;
  position: fixed;
  left: 2vw;
  top: 2vh;
  z-index: 10;
  color: #404040;
}

.name{
  font-size: 18px;
  display: block;
  font-weight: 500;
}

.subname{
  font-size: 14px;
  display: block;
  font-weight: 300;
  margin-top: -5px;
}

@media(max-width:768px) {
  .name{
    font-size: 16px;
  }

  .subname{
    font-size: 12px;
  }
}

/* Vertical */
.social {
  display: none;
  position: fixed;
  bottom: 1vh;
  font-size: 1.2em;
  right: 1.5vw;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social ul {
  list-style: none;
  padding: 0;
}

.social li {
  padding-bottom: 8px;
}

.social span {
  padding-right: 0.8em;
}

.social a{
  color: #E8E8E8;
  opacity: 0.5;
}

.social a:hover{
  color: #F8F8F8;
  opacity: 0.9;
}

@media(max-width:768px) {
  .social{
    bottom: 0vh;
    font-size: 1em;
    right: 4vw;
  }
}
